@(message: String)

  @main("lunch-o-matic-4000") {

    <div class="col-xs-12 col-sm-9">
      <div class="jumbotron">
        <h1>Get ready for a LUNCH!!!11</h1>
        <p>Don't think about it or make very tough decisions, just push the button and make it decide for you!!</p>
      </div>
      <div class="row" ng-controller="MainController">
        <div class="col-6 col-md-10">
          <div class="todays-title">Today's decision:</div>
          <ol class="todays-list">
            <li ng-repeat="place in todaysPlaces">{{place.name}}</li>
          </ol>
        </div>

        <div class="col-6 col-sm-6 col-lg-4"></div>
        <div class="col-6 col-sm-6 col-lg-4"></div>
        <div class="col-6 col-sm-6 col-lg-4">
          <button class="btn btn-default btn-lg" ng-click="loadList()">
            <span class="glyphicon glyphicon-repeat mo-space"></span>Refresh
          </button>

          <button class="btn btn-default btn-lg" ng-click="recreateList()">
            <span class="glyphicon glyphicon-sort-by-attributes-alt mo-space"></span>Randomize
          </button>
        </div>
      </div>
    </div>

  }
